logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings
.svn
.idea
*.iml
*.ipr
*.iws
bin
providerCache.index
providerCache.data
badProviderCache.data
badProviderCache.index
user.json

